.meme {
    display: inline-block;
    margin: 10px;
    position: relative;
    font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
}
  
.top-text {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    color: white;
    text-shadow: 2px 2px 4px black;
    font-size: 30px;
    text-align: center;
}
.bottom-text{
  position: absolute;
  bottom: 5px;
  left: 10px;
  right: 10px;
  overflow: hidden;
  color: white;
  text-shadow: 2px 2px 4px black;
  font-size: 30px;
  text-align: center;
}